<%- include('partials/Header.ejs')%>



    <div class="container">
        <h1 class="display-6">
            Event List Here
        </h1>
        <div class="row">

            <% data.forEach((element)=> { %>
            
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= element.eventName %></h5>
                            <p class="card-text"><%= element.description %>
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            <span><%= element.schedule %></span>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
    </div>
    <%- include('partials/Footer.ejs') %>